In [7]:
import pandas as pd #CONNECT TO THE PANDAS LIBRARY
import numpy as np #IMPORT NUMPY
import cx_Oracle
conn=cx_Oracle.connect('djohnson','RhiBae01!','ODSPEU1.ams')

In [8]:
mc_mu_data=pd.read_sql(
'''
SELECT cc_acquirer_subgroup
FROM fdwo.mb_paymentprocessor
WHERE cc_acquirer_subgroup='WELLS FA'
GROUP BY cc_acquirer_subgroup
'''
,conn)

In [9]:
mc_mu_data

  CC_ACQUIRER_SUBGROUP
0                  AIB