In [17]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
import sys
print (sys.version)

3.6.5 |Anaconda custom (64-bit)| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]

In [18]:
import pandas as pd

In [19]:
vi_import='d:\\djohnson\\Desktop\\misuse\\2018\\jun\\invoice_files\\mc_eu_integ.csv'
mu_import='d:\\djohnson\\Desktop\\misuse\\2018\\jun\\invoice_files\\mc_row_integ.csv'
mu_e_import='d:\\djohnson\\Desktop\\misuse\\2018\\jun\\invoice_files\\vi_integ.csv'

In [20]:
vi=pd.read_csv(vi_import,sep=';')
mr=pd.read_csv(mu_import,sep=';')
me=pd.read_csv(mu_e_import,sep=';')

In [21]:
m=pd.concat([vi,mr,me])

In [22]:
m['InvoiceDate']=201807

In [23]:
m=m.groupby(['Contract_ID','ProductCode'
             ,'InvoiceDate','Approved'],as_index=False)[['Value']].sum()

In [24]:
m['Value']=m['Value'].round(2)

In [25]:
m=m[['Contract_ID','ProductCode','Value','InvoiceDate','Approved']]

In [26]:
m['Contract_ID']=m['Contract_ID'].astype(int).astype(str)

In [27]:
'''convert the contract ID to string in order to add the zero logic'''
m=m.copy()
for x in range(0,len(m['Contract_ID'])):
    m.loc[x,'Contract_ID']=str(m.loc[x,'Contract_ID'])

In [29]:
'''convert the contract ID to string in order to add the zero logic'''
for x in range(0,len(m['Contract_ID'])):
    m.loc[x,'Contract_ID']=str(m.loc[x,'Contract_ID'])
'''adding zero logic'''
#if 5 digits add one zeros
for x in range(0,len(m['Contract_ID'])):
    if len(m.loc[x,'Contract_ID'])==3:
        m.loc[x,'Contract_ID']="0"+m.loc[x,'Contract_ID']
#if 4 digits add two zeros
for x in range(0,len(m['Contract_ID'])):
    if len(m.loc[x,'Contract_ID'])==2:
        m.loc[x,'Contract_ID']="00"+m.loc[x,'Contract_ID']
#if 3 digits add three zeros
for x in range(0,len(m['Contract_ID'])):
    if len(m.loc[x,'Contract_ID'])==1:
        m.loc[x,'Contract_ID']="000"+m.loc[x,'Contract_ID']

In [30]:
m=m.set_index('Contract_ID',inplace=False,append=False)

In [31]:
m.head()

             ProductCode  Value  InvoiceDate  Approved
Contract_ID
0012              420129   0.03       201807     False
0017              420129   0.03       201807     False
0046              420129   1.71       201807     False
0297              420129   0.82       201807     False
0488              420129   0.18       201807     False

In [ ]:
m.to_csv('d:\\djohnson\\Desktop\\misuse\\BI000001_07312018.csv',sep=';')